.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 10px;
  outline: 1px solid #000;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: 500;
}

.input {
  margin-top: 5px;
  padding: 0 10px;
  width: 250px;
  height: 20px;
}

.input:focus {
  outline-color: #aaa;
}

.button {
  margin-top: 5px;
}
